@{
    ViewData["Title"] = "Home Page";
}
<body class="fondo">
    <div class="Principal">
  
            <div class="Info-text" >
            <h1 style="font-weight:bolder;">BEST EDUCATION</h1> <br />

            <h3 style="font-weight: lighter; font-style: italic; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Are you ready?</h3>
    
            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
                Nam venenatis tellus magna, ac pretium eros ullamcorper nec. <br />
            </p>
            </div>

           <button type="button" class="btn btn-outline-warning">
               <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Register Now!</a>
           </button>
  
     </div>
 </body>
